server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      default-filters:
        - TokenAuthFilter

      routes:

        # ========== AUTH (PUBLIC) ==========
        - id: auth-service
          uri: http://localhost:8091
          predicates:
            - Path=/api/auth/**


        # ========== ACCOUNT-SERVICE (PROTECTED) ==========
        - id: account-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/account/**


          # ========== CHAT-BOT-SERVICE (PROTECTED) ==========
        - id: chat-bot-service
          uri: http://localhost:8090
          predicates:
            - Path=/api/chatbot


        # ========== SCOOTER-SERVICE (PROTECTED) ==========
        - id: scooter-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/scooter/**


        # ========== SUPPORT-SERVICE (PROTECTED) ==========
        - id: support-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/support/**


        # ========== TRIP-SERVICE (PROTECTED) ==========
        - id: trip-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/trip/**


        # ========== USER-SERVICE (PROTECTED) ==========
        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/user/**


        # ========== WALLET-SERVICE (PROTECTED) ==========
        - id: wallet-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/wallet/**
